@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/forest_background.jpg");
  background-position: center;
  background-size: cover;
}

.header .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.header .center p {
  padding: 1.5em;
  color: #fff;
  font-size: 2.1rem;
  font-weight: bold;
}

.header .center button {
  background-color: #8fc79a;
  border: none;
  padding: 1.5em 4em;
  color: #fff;
  font-size: 1rem;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
}

.how-it-works {
  padding: 2em;
  text-align: center;
}

.how-it-works > h2 {
  margin: 1.2em 0;
  font-size: 2rem;
}

.how-it-works > .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2em;
}

.how-it-works > .info > .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
  height: 10vw;
  padding: 1.5em;
  margin-bottom: 1em;
  border: 2px solid #5e9387;
  border-radius: 50%;
  color: #5e9387;
}

.how-it-works > .info > .info--title {
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.about-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  text-align: center;
  background-color: #8fc79a;
  color: #fff;
}

.about-team > .description p {
  text-align: left;
  font-size: 1.1rem;
}

.about-team > h2 {
  margin: 1.2em 0;
  font-size: 2rem;
}

.about-team > .img {
  width: 100vw;
  margin: 1.2em 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about-team > .img img {
  width: 100%;
}

.clients {
  text-align: center;
  padding: 2em;
}

.clients > h2 {
  margin: 1.2em 0;
  font-size: 2rem;
}

.clients > .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.clients > .img > img {
  border-radius: 5px;
}

.clients > .img > .big {
  width: 100%;
}

.clients > .img > .small {
  width: 47.2%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.clients > .opinion {
  margin-top: 2em;
}

.clients > .advert > .ad {
  margin-top: 3em;
}

.ofert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  width: 80%;
  margin: 1em auto;
  border: 2px solid #5e9387;
  border-radius: 10px;
}

.ofert > ul > li {
  list-style: none;
  padding-bottom: 1.2em;
}

.ofert > ul > li::before {
  content: "✔";
  color: #5e9387;
  padding-right: 8px;
}

.ofert > button {
  padding: 1em 4em;
  margin-top: 1em;
  background-color: #8fc79a;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #8fc79a;
  min-height: 70vh;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .contact > input {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1em;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.footer .contact > textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.footer .contact > h4 {
  text-align: center;
  padding: 2em 0;
  font-size: 1.5rem;
}

.footer .contact > button {
  width: 50%;
  margin: 2em auto;
  padding: 1em 3em;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: #5e9387;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  padding: 2em;
  text-align: center;
  background-color: #8fc79a;
  border-radius: 10px;
  display: none;
}

.popup > button {
  width: 50%;
  margin: 2em auto;
  padding: 1em 3em;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: #5e9387;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.popup > h4 {
  margin-bottom: 2em;
}

.popup.active {
  display: block;
}

.header.active, .hot-it-works.active, .about-team.active, .clients.active, .ofert.active, .footer.active {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
/*# sourceMappingURL=style.css.map */